<footer>
  <div class="socials flex justify-center">
    <div class="socials-footer w-full max-w-4xl mx-auto px-5 py-10 flex flex-wrap justify-center ">
      <p class="facebook text-[30px] px-5 text-[#21243D] hover:cursor-pointer"><i class="fa-brands fa-facebook"></i>
      </p>
      <p class="instagram text-[30px] px-5 text-[#21243D] hover:cursor-pointer"><i class="fa-brands fa-instagram"></i>
      </p>
      <p class="twitter text-[30px] px-5 text-[#21243D] hover:cursor-pointer"><i class="fa-brands fa-twitter"></i></p>
      <p class="linkedin text-[30px] px-5 text-[#21243D] hover:cursor-pointer"><i class="fa-brands fa-linkedin"></i>
      </p>
    </div>
  </div>
  <div class="copyright text-center text-[#21243D] leading-5 text-sm pb-10">Copyright ©2020 All rights reserved</div>
</footer>