<header>
  <div class="w-full">
    <ul class="nav-link flex justify-end h-[78px]">
      <li class="menu-links p-2 font-bold leading-[65px] text-2xl hover:underline hover:cursor-pointer text-[#21243D]">
        <a routerLink="">Home</a>
      </li>
      <li class="menu-links p-2 font-bold leading-[65px] text-2xl hover:underline hover:cursor-pointer text-[#21243D]">
        <a routerLink="works">Works</a>
      </li>
      <li class="menu-links p-2 font-bold leading-[65px] text-2xl hover:underline hover:cursor-pointer text-[#21243D]">
        <a routerLink="blog">Blog</a>
      </li>
    </ul>
  </div>
</header>