.container {
  padding: 40px;
}

.title {
  font-size: 30px;
  text-align: center;
}

.btn-add {
  margin-bottom: 10px;
}

.btn-edit,
.btn-delete,
.btn-detail {
  margin: 0 5px;
}

.title-name {
  text-align: center;
}
