<div class="container">
  <button class="btn-add" routerLink="add" nz-button nzType="primary" nzSize="large" nzAlign="end">
    <i nz-icon nzType="file-add" nzTheme="outline"></i>
    Add
  </button>
  <nz-table #basicTable>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Name</td>
        <td>Age</td>
        <td>Address</td>
        <td>
          <button class="btn-edit" nz-button nzType="primary" nzSuccess>
            <i nz-icon nzType="edit" nzTheme="outline"></i>
            Edit
          </button>
          <button class="btn-delete" nz-button nzType="primary" nzDanger>
            <i nz-icon nzType="delete" nzTheme="outline"></i>
            Delete
          </button>
          <button class="btn-detail" nz-button nzType="primary">Detail</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>