<div class="content">
  <section class="recent-posts">
    <div class="max-w-4xl mx-auto px-5">
      <div class="row flex justify-between h-[60px]">
        <h1 class="title-recent text-[44px] text-[#21243D] font-[900] leading-[60px]">Blog</h1>
      </div>

      <div *ngFor="let item of posts" class="row flex justify-between py-10">
        <div class="posts">
          <div class="content-post py-10">
            <h2 class="title-post text-2xl pb-2 text-[#21243D] font-bold hover:text-[#FF6464] hover:cursor-pointer">
              {{item.title}}</h2>
            <div class="date-and-category flex flex-wrap justify-start py-5">
              <span class="date font-lg">{{item.createdAt}}</span>
              <span class="px-2">|</span>
              <span class="category-post font-lg">{{item.categoryPost.name}}</span>
            </div>
            <p class="desc-post">{{item.desc}}.</p>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </section>
</div>