<div class="container">
  <div class="profile">
    <div class="infor">
      <div class="row">
        <div class="col">
          <div class="fullname">FullName: {{profile.fullname}}</div>
          <div class="position">Position: {{profile.position}}</div>
          <div class="about">About: {{profile.about}}</div>
        </div>
        <div class="col">
          <div class="age">Age: {{profile.age}}</div>
          <div class="cv">CV: {{profile.cv}}</div>
        </div>
      </div>
    </div>
    <div class="avatar">
      <img src={{profile.avatar}} alt={{profile.fullname}}>
    </div>
  </div>
  <div class="btn-edit">
    <button routerLink="edit" class="btn-edit" nz-button nzType="primary" nzSuccess>
      <i nz-icon nzType="edit" nzTheme="outline"></i>
      Edit
    </button>
  </div>
</div>