<div class="content">
  <section class="featrured-works">
    <div class="max-w-4xl mx-auto px-5">

      <div class="show-featrured py-10">
        <h2
          class="title-featrured text-[30px] leading-[44px] font-bold h-[44px] text-[#21243D] hover:text-[#FF6464] hover:cursor-pointer">
          {{project.name}}</h2>
        <div class="year-and-category flex justify-start py-4">
          <span class="year rounded-3xl bg-[#FF7C7C] w-fit px-2 text-white text-lg">{{project.createdAt}}</span>
          <span class="category-featrured pl-2 text-[#8695A4]">{{project.categoryProjectId}}</span>
        </div>
        <p class="desc-featrured text-xl text-[#21243D] py-5">{{project.desc}}</p>
        <div class="img-featrured">
          <img src={{project.img}} alt={{project.name}} class="w-full h-[460px] hover:opacity-80">
        </div>
      </div>

    </div>
  </section>
</div>