<div class="content">
  <section class="featrured-works py-5">
    <div class="max-w-4xl mx-auto px-5">
      <div class="row flex justify-between h-[60px]">
        <h1 class="title-recent text-[44px] text-[#21243D] font-[900] leading-[60px]">Works</h1>
        <!-- <a href="#" class="view-all text-sm text-[#00A8CC] leading-[60px]">view all</a> -->
      </div>

      <div *ngFor="let item of projects" class="show-featrured py-10">
        <a routerLink="detail/{{item.id}}" class="project-links grid grid-cols-[180px,auto] gap-4">
          <img src={{item.img}} alt={{item.name}} class="img-featrured rounded-md h-[180px] w-[246px] hover:opacity-80">
          <div class="desc-featrured">
            <h2
              class="title-featrured text-[30px] leading-[44px] font-bold h-[44px] text-[#21243D] hover:text-[#FF6464] hover:cursor-pointer">
              {{item.name}}</h2>
            <div class="year-and-category flex justify-start py-4">
              <span class="createdAt rounded-3xl bg-[#21243D] px-5 text-white text-sm w-fit">{{item.createdAt}}</span>
              <span class="px-2 text-[#8695A4]">|</span>
              <span class="category-featrured text-[#8695A4] text-sm">{{item.categoryProject.name}}</span>
            </div>
            <p class="desc-featrured text-base text-[#21243D] leading-6">{{item.desc}}</p>
          </div>
        </a>
      </div>

    </div>
  </section>
</div>