<section class="information py-[150px]">
  <div class="max-w-4xl mx-auto px-5">
    <div class="flex justify-between">
      <div class="infor p-5">
        <h1 class="title font-bold text-4xl">Hi, I am <span
            class="username text-red-400 hover:underline">John</span>,<br>
          <span class="position">Creative Technologist</span>
        </h1>
        <p class="short-desc py-5">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
          officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <button
          class="btn-download bg-[#FF6464] w-[208px] h-[47px] rounded-sm text-white text-xl hover:opacity-90">Download
          Resume</button>
      </div>

      <div class="img-user p-5">
        <img src="https://picsum.photos/500/500" alt="" class="rounded-full">
      </div>
    </div>
  </div>
</section>

<section class="recent-posts bg-[#EDF7FA] h-[396px]">
  <div class="max-w-4xl mx-auto px-5">
    <div class="row flex justify-between h-[60px]">
      <h3 class="title-recent text-xl text-[#21243D] leading-[60px]">Recent posts</h3>
      <a href="#" class="view-all text-sm text-[#00A8CC] leading-[60px] hover:underline hover:cursor-pointer">view
        all</a>
    </div>
    <div class="row flex justify-between">

      <div class="post h-[295px] w-[418px] bg-white">
        <div class="content-post p-10">
          <h2 class="title-post text-2xl pb-2 text-[#21243D] font-bold hover:text-[#FF6464] hover:cursor-pointer">
            Making a design system
            from scratch</h2>
          <div class="date-and-category flex flex-wrap justify-between px-5 py-5">
            <span class="date font-lg">12 Feb 2020</span>
            <span>|</span>
            <span class="category-post font-lg">Design, Pattern</span>
          </div>
          <p class="desc-post">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis
            enim
            velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
        </div>
      </div>

      <div class="post h-[295px] w-[418px] bg-white">
        <div class="content-post p-10">
          <h2 class="title-post text-2xl pb-2 text-[#21243D] font-bold hover:text-[#FF6464] hover:cursor-pointer">
            Making a design system
            from scratch</h2>
          <div class="date-and-category flex flex-wrap justify-between px-5 py-5">
            <span class="date font-lg">12 Feb 2020</span>
            <span>|</span>
            <span class="category-post font-lg">Design, Pattern</span>
          </div>
          <p class="desc-post">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis
            enim
            velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="featrured-works h-[835px]">
  <div class="max-w-4xl mx-auto px-5">
    <div class="row flex justify-between h-[60px]">
      <h3 class="title-recent text-xl text-[#21243D] leading-[60px]">Featured works</h3>
      <!-- <a href="#" class="view-all text-sm text-[#00A8CC] leading-[60px]">view all</a> -->
    </div>

    <div class="show-featrured grid grid-cols-[180px,auto] gap-4 py-10">
      <img src="https://picsum.photos/500/500" alt=""
        class="img-featrured rounded-md h-[180px] w-[246px] hover:opacity-80">
      <div class="desc-featrured">
        <h2
          class="title-featrured text-[30px] leading-[44px] font-bold h-[44px] w-[305px] text-[#21243D] hover:text-[#FF6464] hover:cursor-pointer">
          Designing Dashboard
        </h2>
        <div class="year-and-category grid grid-cols-[1fr,1fr] py-4 w-40">
          <span class="year rounded-3xl bg-[#21243D] pl-[22px] text-white text-lg">2020</span>
          <span class="category-featrured text-[#8695A4] pl-2">Dashboard</span>
        </div>
        <p class="desc-featrured text-base text-[#21243D] leading-6">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
          velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>
      </div>
    </div>

    <div class="show-featrured grid grid-cols-[180px,auto] gap-4 py-10">
      <img src="https://picsum.photos/500/500" alt=""
        class="img-featrured rounded-md h-[180px] w-[246px] hover:opacity-80">
      <div class="desc-featrured">
        <h2
          class="title-featrured text-[30px] leading-[44px] font-bold h-[44px] w-[305px] text-[#21243D] hover:text-[#FF6464] hover:cursor-pointer">
          Designing Dashboard
        </h2>
        <div class="year-and-category grid grid-cols-[1fr,1fr] py-4 w-40">
          <span class="year rounded-3xl bg-[#21243D] pl-[22px] text-white text-lg">2020</span>
          <span class="category-featrured text-[#8695A4] pl-2">Dashboard</span>
        </div>
        <p class="desc-featrured text-base text-[#21243D] leading-6">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
          velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>
      </div>
    </div>

    <div class="show-featrured grid grid-cols-[180px,auto] gap-4 py-10">
      <img src="https://picsum.photos/500/500" alt=""
        class="img-featrured rounded-md h-[180px] w-[246px] hover:opacity-80">
      <div class="desc-featrured">
        <h2
          class="title-featrured text-[30px] leading-[44px] font-bold h-[44px] w-[305px] text-[#21243D] hover:text-[#FF6464] hover:cursor-pointer">
          Designing Dashboard
        </h2>
        <div class="year-and-category grid grid-cols-[1fr,1fr] py-4 w-40">
          <span class="year rounded-3xl bg-[#21243D] pl-[22px] text-white text-lg">2020</span>
          <span class="category-featrured text-[#8695A4] pl-2">Dashboard</span>
        </div>
        <p class="desc-featrured text-base text-[#21243D] leading-6">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
          velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>